*,
:after,
:before {
    box-sizing: border-box
}

.hex-grid__list {
    --amount: 9;
    --counter: 1;
    position: relative;
    padding: 2rem;
    width: 100vw;
    margin: 4rem calc(-50vw + 50%);
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(var(--amount), 1fr 2fr) 1fr;
    grid-gap: 0.1rem 0.2rem
}

.hex-grid__item {
    position: relative;
    grid-column: 1/span 3;
    grid-row: calc(var(--counter) + var(--counter))/span 2;

    height: 0;
    padding-bottom: 90%
}

.hex-grid__content {
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 1.125rem;
    color: #111;
    background-color: #fff;

    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 25%;
    text-decoration: none;
    text-align: center;
}

.hex-grid__item:nth-of-type(9n + 1) {
    grid-column: 1/span 3;
}

.hex-grid__item:nth-of-type(9n + 2) {
    grid-column: 3/span 3;
    grid-row: calc(var(--counter) + var(--counter) - 1)/span 2;
}

.hex-grid__item:nth-of-type(9n + 3) {
    grid-column: 5/span 3;
}

.hex-grid__item:nth-of-type(9n + 4) {
    grid-column: 7/span 3;
    grid-row: calc(var(--counter) + var(--counter) - 1)/span 2;
}

.hex-grid__item:nth-of-type(9n + 5) {
    grid-column: 9/span 3;
}

.hex-grid__item:nth-of-type(9n + 6) {
    grid-column: 11/span 3;
    grid-row: calc(var(--counter) + var(--counter) - 1)/span 2;
}

.hex-grid__item:nth-of-type(9n + 7) {
    grid-column: 13/span 3;
}

.hex-grid__item:nth-of-type(9n + 8) {
    grid-column: 15/span 3;
    grid-row: calc(var(--counter) + var(--counter) - 1)/span 2;
}

.hex-grid__item:nth-of-type(9n + 9) {
    grid-column: 17/span 3;
}

.hex-grid__item:nth-of-type(n+10) {
    --counter: 2
}

.hex-grid__item:nth-of-type(n+19) {
    --counter: 3
}

.hex-grid__item:nth-of-type(n+28) {
    --counter: 4
}

.hex-grid__item:nth-of-type(n+37) {
    --counter: 5
}

.hex-grid__item:nth-of-type(n+46) {
    --counter: 6
}

.hex-grid__item:nth-of-type(n+55) {
    --counter: 7
}

.hex-grid__item:nth-of-type(n+64) {
    --counter: 8
}

.hex-grid__item:nth-of-type(n+73) {
    --counter: 9
}

.hex-grid__item:nth-of-type(n+82) {
    --counter: 10
}

.hex-grid__item:nth-of-type(n+91) {
    --counter: 11
}